# misal error install decode/@validator versi ini ya teman teman
fastapi==0.110.0
uvicorn==0.27.1

fastapi-jwt-auth==0.5.0
python-jose==3.3.0

bcrypt==4.1.2
passlib[bcrypt]==1.7.4

python-multipart==0.0.9

pydantic==1.10.13
pydantic-settings==2.2.1

firebase-admin==6.4.0
google-cloud-firestore==2.14.0

